*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contenedol {
  display:grid;
  grid-template-columns:1fr 1fr ;
  grid-template-rows: 70vh;
  background-color: #f7f7f7;

}

#contenedol .container {
  position: relative;
  height: 100%;
  width: 100%;
  grid-column: 2/3;
  display: grid;
  background-color: #f7f7f7;
  place-items: center;
}
#contenedol .texto {
display: grid;
grid-column: 1/2;
margin: 5%;
margin-top: 10%;
margin-bottom: 10%;
}
#contenedol .texto p {
font-size: 1.5vw;
color: black
text-align: center;
}
.window {
  height: 80%;
  width: 100%;
  margin-right: 10%;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  box-shadow: 7px 15px #9c999c;
}

.slider {
  height: 100%;
  width: 500%;
  display: flex;
  border-radius:
}

.image {
  position: relative;
  flex: 0 0 20%;
  max-width: 20%;
  animation: slide 20s infinite ease-in-out;
}

@keyframes slide {
  0% {
    left: 0;
  }
  20% {
    left: -20%;
  }
  40% {
    left: -40%;
  }
  60% {
    left: -60%;
  }
  80% {
    left: -80%;
  }
  100% {
    left: -100%;
  }
}
