*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  position: relative;
  height: 120%;
  width: 100%;
  display: grid;
  background-color: #f7f7f7;
  place-items: center;
}

.window {
  height: 95%;
  width: 60%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px #0000002f, 0 0 10px 5px #00000017;
}

.slider {
  height: 450px;
  width: 4850px;
  display: flex;
}

.image {
  position: relative;
  flex: 0 0 20%;
  max-width: 20%;
  animation: slide 20s infinite ease-in-out;
}

.slider:hover .image {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    left: 0;
  }
  20% {
    left: -20%;
  }
  40% {
    left: -40%;
  }
  60% {
    left: -60%;
  }
  80% {
    left: -80%;
  }
  100% {
    left: -100%;
  }
}
