*{
  margin:0;
  padding:0;
}



#arriba {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 7vh;
background-color: #FF0049;

}

#contenedorlogo {
display:grid;
grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 1fr ;
grid-template-rows: 10vh;
background-color: #00B2FF;

}

#contenedorlogo .test{
grid-column: 2/3;
grid-row: 1/2;
margin: auto;
}
#contenedorlogo .test img{
max-width: 60%;

}

#contenedorlogo .trayectoria{
grid-column: 5/6;
grid-row: 1/2;
margin: auto;

}
