*{
  margin:0;
  padding:0;
}







#contenedorlogo {
  display:grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 5vh 10vh;
  background-color: #FFFF;
  position: fixed;
}
#contenedorlogo a {
  text-decoration: none;
}
#contenedorlogo .huecorosa{
  grid-column: 1/14;
  grid-row: 1/2;
  background-color: #836EF8;

}
#contenedorlogo p{
  font-family: "Brown Regular",Sans-Serif;
  color: #836EF8;
  font-size: 0.8vw;
  font-weight: bold;
}
#contenedorlogo p:hover{
  color: black;
}
#contenedorlogo .test{
  grid-column: 3/5;
  grid-row: 2/3;
  margin: auto;
}
#contenedorlogo .test img{
  max-width: 80%;

}


#contenedorlogo .FAQ{
  grid-column: 8/9;
  grid-row: 2/3;
  margin: auto;
}

#contenedorlogo .trayectoria{
  grid-column: 9/10;
  grid-row: 2/3;
  margin: auto;
}

#contenedorlogo .team{
  grid-column: 10/11;
  grid-row: 2/3;
  margin: auto;
}
#contenedorcontenido {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh 100vh;
  background-color: #f7f7f7;
  padding-top: 10vh;
}

#contenedorcontenido .textoubi {
  grid-column: 1/2;
  grid-row: 1/2;
  padding-top: 20vh;
  padding-left: 20vh;
}
#contenedorcontenido .textoubi p {
  font-family: "Brown Regular",Sans-Serif;
  color: #000 ;
  font-size: 1.2vw;
  font-weight: bold;
}
#contenedorcontenido .imagen {
  grid-column: 1/2;
  grid-row: 2/3;
}

#contenedorcontenido .imagen img {
  width: 70%;
  height: 40%;
  padding-top: 25vh;

}
