
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&display=swap');

#contenedorlogo {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 5vh 10vh;
  background-color: #FFFF;
  position: absolute ;
}

#contenedorlogo a {
  text-decoration: none;
}

#contenedorlogo .huecorosa {
  grid-column: 1/14;
  grid-row: 1/2;
  background-color: #836EF8;
}

#contenedorlogo p {
  font-family: "Brown Regular", Sans-Serif;
  color: #836EF8;
  font-size: 0.8vw;
  font-weight: bold;
}

#contenedorlogo p:hover {
  color: black;
}

#contenedorlogo .test {
  grid-column: 3/5;
  grid-row: 2/3;
  margin: auto;
}

#contenedorlogo .test img {
  max-width: 80%;
}

#contenedorlogo .FAQ {
  grid-column: 8/9;
  grid-row: 2/3;
  margin: auto;
}

#contenedorlogo .trayectoria {
  grid-column: 9/10;
  grid-row: 2/3;
  margin: auto;
}

#contenedorlogo .team {
  grid-column: 10/11;
  grid-row: 2/3;
  margin: auto;
}

#contenedorcontenido {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5vh 100vh;
  background-color: #f7f7f7;
  padding-top: 10vh;
}

#contenedorcontenido .textoubi {
  grid-column: 1/2;
  grid-row: 1/2;
  padding-top: 20vh;
  padding-left: 20vh;
}

#contenedorcontenido .textoubi p {
  font-family: "Brown Regular", Sans-Serif;
  color: #000;
  font-size: 1.2vw;
  font-weight: bold;
}

#contenedorcontenido .imagen {
  grid-column: 1/2;
  grid-row: 2/3;
}

#contenedorcontenido .imagen img {
  width: 70%;
  height: 40%;
  padding-top: 25vh;
}

#contenedorcontenido .textoequipo {
  grid-column: 2/3;
  grid-row: 1/2;
  padding-top: 30vh;
  padding-left: 22vh;
}



#contenedorcontenido .imagen1 {
  grid-column: 2/3;
  grid-row: 2/3;
}

#contenedorcontenido .imagen1 img {
  max-width: 78%;
  height: 18%;
  padding-top: 35vh;
  position: absolute;
}
body {
  font-family: 'open sans';
}

.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: #4329ad;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
  font-family: Comic sans-serif;
}

.contenido-textos {
  font-family: ;
}

nav>a {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
}

nav>a:hover {
  text-decoration: underline;
}

header .textos-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.textos-header h1 {
  font-size: 50px;
  color: #fff;
}

.textos-header h2 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

main .sobre-nosotros {
  padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros {
  display: flex;
  justify-content: space-evenly;
}

.imagen-about-us {
  width: 48%;
}

.sobre-nosotros .contenido-textos {
  width: 48%;
}

.contenido-textos h3 {
  margin-bottom: 15px;
}

.contenido-textos h3 span {
  background: #4d0686;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  margin-right: 5px;
}

.contenido-textos p {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}

.portafolio {
  background: #f2f2f2;
}

.galeria-port {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position:;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}



.hover-galeria img {
  width: 50px;
}

.hover-galeria p {
  color: #fff;
}

.imagen-port:hover .hover-galeria {
  transform: scale(1);
}

/* Clients */
.cards {
  display: flex;
  justify-content: space-evenly;
}

.cards .card {
  background: #4d0686;
  display: flex;
  width: 46%;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
}

.cards .card>.contenido-texto-card {
  width: 60%;
  color: #fff;
}

.cards .card>.contenido-texto-card p {
  font-weight: 300;
  padding-top: 5px;
}

/*  Our team */
.about-services {
  background: #f2f2f2;
  padding-bottom: 30px;
}

.servicio-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.servicio-ind {
  width: 28%;
  text-align: center;
}

.servicio-ind img {
  width: 90%;
}

.servicio-ind h3 {
  margin: 10px 0;
}

.servicio-ind p {
  font-weight: 300;
  text-align: justify;
}
}

@media screen and (max-width:900px) {
  header {
    background-position: center;
  }

  .contenedor-sobre-nosotros {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sobre-nosotros .contenido-textos {
    width: 90%;
  }

  .imagen-about-us {
    width: 90%;
  }

  .imagen-port {
    width: 44%;
  }

  //2 CLIENTES//
  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards .card {
    width: 90%;
  }

  .cards .card:first-child {
    margin-bottom: 30px;
  }

  //QUE OFRECEMOS//
  .servicio-cont {
    justify-content: center;
    flex-direction: column;
  }

  .servicio-ind {
    width: 100%;
    text-align: center;
  }

  .servicio-ind:nth-child(1), .servicio-ind:nth-child(2) {
    margin-bottom: 60px;
  }

  .servicio-ind img {
    width: 90%;
  }
}

@media screen and (max-width:500px) {
  nav {
    text-align: center;
    padding: 30px 0 0 0;
  }

  nav>a {
    margin-right: 5px;
  }

  .textos-header h1 {
    font-size: 35px;
  }

  .textos-header h2 {
    font-size: 20px;
  }

  //SOBRE NOSOTROS//
  .imagen-about-us {
    margin-bottom: 60px;
    width: 99%;
  }

  .sobre-nosotros .contenido-textos {
    width: 95%;
  }

  //GALERIA//
  .imagen-port {
    width: 95%;
  }

  //NUESTROS CLIENTES//
  .cards .card {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards .card img {
    width: 90px;
    height: 90px;
  }

.servicio-ind {
  text-align: justify;
}
}
.contenido-textos {
  font-family: Montserrat;
  font-size: 10x;
  text-align: justify;
  text-justify: inter-word;
}
}
.titulo {
  font-family: Montserrat;
  font-size: 40px;
}
.contenido-texto-card {
  font-family: Montserrat;
  font-size: 10x;
  text-align: justify;
}

#contenedol .texto {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}
  .section::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #8070D4;
      border: 6px solid rgba(0,0,0,0.2);
  }
  body::-webkit-scrollbar {
    width: 10px;
  }

  body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
  }

  body::-webkit-scrollbar-thumb {
    background-color: #836EF8;
    border-radius: 20px;
    border: 3px solid #836EF8;
  }
